body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0;
  text-align: center; }

html, body {
  height: 100%; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none; }

img {
  border: none;
  display: block; }

body {
  font-family: inherit; }

#bigbox {
  width: 100%;
  height: 500px;
  padding: 25px 0;
  background-color: #f3f3f3; }

#boxa {
  width: 60%;
  margin: auto; }

#boxa h1 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400; }

#boxa p {
  padding: 0 17px;
  margin-bottom: 10px;
  color: #757575;
  font-size: 16px; }

#boxa .buttona {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #fff;
  border: none;
  background: #000;
  margin: 20px 0 0;
  line-height: 40px;
  letter-spacing: 2px; }

#leftbox {
  width: 49%;
  background-color: white;
  float: left; }

#creat {
  width: 80%;
  background-color: white;
  margin: 8% auto; }

#rightbox {
  width: 49%;
  background-color: white;
  float: left;
  margin-left: 1%; }

#rightbox span {
  color: #000;
  padding-bottom: 2px;
  margin: 0 30px; }

#rightbox #spana {
  border-bottom: 1px solid #000; }

#rightbox input {
  padding: 8px 0 8px 15px;
  line-height: 18px;
  margin: 5px 0; }

#rightbox img {
  display: inline-block;
  width: 35%;
  height: 36px; }

#dx {
  text-decoration: underline; }

#jz {
  text-align: left; }
