body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
    margin:0;
    padding:0;
    text-align: center;
}
html,body{
    height: 100%;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration: none;
}
img{
    border:none;
    display: block;
}
body{
    font-family: inherit; 
    
}
header{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
/*æŒ‰é’®*/
#tubiaoa{
    overflow: hidden;
}
#tubiao{
    float: right;
    display: inline-block;
    line-height: 70px;
}
/*logo*/
#logobox{
    width: 100%;
    height: 22px;
    /*margin-top:31px; */
}
#logo{
    width: 159px;
    height: 18px;
    margin:0 auto;
}
/*daohang*/
#dlogobox{
    width: 159px;
    height: 70px;
    display: none;
    float: left;
    /*margin-top:31px; */
}
#dlogo{
    display:block;
    width: 159px;
    margin: 20px 20px;
    /*margin:0 auto;*/
}
#ttubiaoa{
    height: 70px;
}
#ttubiao{
    float: right;
    display: inline-block;
    line-height: 70px;
    display: none;
}
nav{
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    z-index: 100;
}
#ullist{
    width:574px;
    margin:0 auto; 
}
#ullist a{
width: 82px;
height: 70px;
float: left;
color: black;
font-size: 16px;
font-weight: 400;
}
#ullist li{
    text-align: center;
    line-height: 70px;
    
}
/*onmousover*/
.zhanshi{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.zsbox{
    margin: 50px auto;
    display: inline-block;
}
.zhanshi ul{
    float: left;
    margin-right: 30px;
    text-align:left;
}
.zhanshi img{
    width: 300px;
    height: 200px;
}
