body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0;
  }

html, body {
  height: 100%; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none; }

img {
  border: none;
  display: block; }

body {
  font-family: inherit; 
  }


#titia{
    margin-top:0;
    z-index: 1;
	width: 100%;
  overflow: hidden;
	background-color:white;
	padding: 35px 0 30px;
	#zhuti{
	    overflow: hidden;
	background-color: white;
	margin: 0 10%;
	position: relative;
	a {
		display: inline-block;
		float: left;	
		font-size: 14px;
		padding-right: 20px;
	}
	span:nth-child(2){
	display: inline-block;
	float: left;
	font-size: 14px;
}
    #texta{
	    
	    margin-top: -3px;
	    position: absolute;
	    left: 50%;
	    top: 0;
	    width: 50%;
	    margin-left: -25%;
	    p{
	        font-size: 16px;
    	    text-align: center; 
    	    line-height: 30px;
    	    display: inline-block;
	    }
}
    span:nth-child(4){
	display: inline-block;
	float: right;	
	font-size: 14px;
}
    span:nth-child(5){
    	display: inline-block;
    	float: right;	
    	font-size: 14px;
    	margin-right: 20px;
}
    img{
    	display: inline-block;
    	width: 8px;
    	margin-left: 6px;
    	cursor: pointer;
}
}
}

//section
section{
//  margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background-color:white;
    #zhanshi{
    overflow: hidden;    
    margin: 0 10%;
    background-color: white;
     ul{
        width: 100%;
        overflow: hidden;
    }
    .bigdiv{
        width: 100%;
        height: 324px;
    }
    li{
        width: 25%;
        height: 437px;
        float: left;
        margin-bottom: 3%;
        position: relative;
    }
    img{
      width: 95%;
        height: 324px; 
        margin: auto;
        
    }
    .jiahao{
        position: absolute;
       top: 270px;
       right: 20px;
       font-size: 20px;
       cursor: pointer;
       font-size: 32px;
    font-weight: 100;
    }
    .contifo{
        padding: 14px 0 0;
        a{
            color: #000;
            height: 32px;
            line-height: 16px;
            display: block;
        }
        p{
            text-align: right;
            font-size: 13px;
        }
        ol{
        width: 120px;
        height: 28px;
            li{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                padding: 3px;
                img{
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                }
            }
    }
    }
}
   
   
}

